<section class="mt-4 pt-4" id="experience">
    <h2>My experience</h2>
    <h3>What skills do i have</h3>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <app-experience-card title="Backend development" [experiences]="backendExperiences"></app-experience-card>
            </div>
            <div class="col-12 col-md-6">
                <app-experience-card title="Frontend development" [experiences]="frontendExperiences"></app-experience-card>
            </div>
        </div>
    </div>
</section>