<section id="experience" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Experience</h2>
            <h3>What skills do i have</h3>
        </div>
    </div>
    <div class="row mt-4 d-flex">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <app-experience-card title="Backend development" [experiences]="backendExperiences"></app-experience-card>
        </div>
        <div class="col-12 col-md-6">
            <app-experience-card title="Frontend development" [experiences]="frontendExperiences"></app-experience-card>
        </div>
    </div>
</section>