<section id="portfolio" class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h2>Portfolio</h2>
            <h3>My recent work</h3>
        </div>
    </div>
    <div class="container mt-2 custom-card p-0">
        <div class="row mx-2">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
                <app-portfolio-card title="title 1" description="How this site was made"></app-portfolio-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
                <app-portfolio-card title="title 2" description="How this site was made"></app-portfolio-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
                <app-portfolio-card title="title 3" description="How this site was made"></app-portfolio-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
                <app-portfolio-card title="title 4" description="How this site was made"></app-portfolio-card>
            </div>
        </div>
    </div>
</section>
