<section class="container custom-card p-4 mt-4">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <img class="detail-img" src="../../../assets/me/me-about.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href='https://github.com/lpvlnc' target='_blank' matTooltip='See on Github'>
                        <i class='fa-brands fa-github'></i>
                    </a>
                </div>
                <div class="col-6">
                    <a href='https://github.com/lpvlnc' target='_blank' matTooltip='Live demo'>
                        <i class='fa-solid fa-rocket'></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h2>Project name</h2>
            <h3>Project date?</h3>
            <p>
                &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nostrum incidunt dignissimos itaque doloremque quis unde ratione illo, nemo at fugit quisquam excepturi atque consequuntur iusto nisi quia corrupti repellendus.
            </p>
            <app-button class='btn d-flex' label="Try it" href='#' customButton='primary'></app-button>
        </div>
        <hr class="mt-4">
        <p class="d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi mollitia ipsam vero quis quidem a repellat quibusdam, dolore officia, iure, labore quaerat ab ducimus cumque sunt beatae consequuntur. Ratione?</p>
    </div>
</section>