.about-me {
    border-radius: 2rem;
    background: var(--color-primary);
    //background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    transition: var(--transition);
}

.about-me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}


.about-me-image:hover {
    transform: rotate(0deg);
}

.spacer {
    color: var(--color-light);
}

.hr {
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}

.hr-container {
    height: 100%;
}

.button-container {
    bottom: 0;
}