<section id="about">
    <h5>Get to know</h5>
    <h2>About me</h2>
    <div class="container about-container">
        <div class="about-me">
            <div class="about-me-image">
                <img src="../../../../assets/me/me-about.jpg" alt="Developers photograph">
            </div>
        </div>
        <div class="about-cards">
            <app-about-card icon="fa-solid fa-award" title="Experience" description="1+ Years working"></app-about-card>
            <app-about-card icon="fa-solid fa-users" title="Clients" description="+0 attended"></app-about-card>
            <app-about-card icon="fa-solid fa-folder-plus" title="Projects" description="+0 completed"></app-about-card>
            <div>
                <p>
                    informations about me
                </p>
                <app-button label="Let's talk" type="primary" href="/home#contact"></app-button>
            </div>
        </div>
    </div>
</section>