<div class="row d-flex justify-content-center">
    <div class="custom-card w-50 col-12">
        <div class="row mb-2">
            <!-- <div class="col-6">
                picture will be here
            </div> -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h1 class="m-0">Leonardo Pinheiro Valença</h1>
                    </div>
                    <div class="col-12 p-0">
                        <small>Client/Coworker</small>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 testimonial">
                <small>&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eum ea sapiente mollitia voluptate culpa, consequuntur aliquam sint eaque. Temporibus consectetur quod facilis suscipit, cum voluptates nihil consequuntur laboriosam odio?</small>
            </div>
        </div>
    </div>
</div>