<div class="row d-flex justify-content-center mb-5">
    <div class="custom-card w-lg-50 col-12">
        <div class="row">
            <div class="col-12">
                <img class="testimonial-profile-pic" src="../../../../../assets/testimonial-profile-pic/avatar2.jpg" alt="">
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0">Leonardo Pinheiro Valença</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <small>Client/Coworker</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 testimonial">
                <small>&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eum ea sapiente mollitia voluptate culpa, consequuntur aliquam sint eaque. Temporibus consectetur quod facilis suscipit, cum voluptates nihil consequuntur laboriosam odio?</small>
            </div>
        </div>
    </div>
</div>