<nav>
    <a routerLink="/home" 
       fragment="header" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="linkActiveOptions">
        <i class="fa-solid fa-house"></i>
    </a>
    <a routerLink="/home" 
       fragment="about" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="linkActiveOptions">
        <i class="fa-solid fa-user"></i>
    </a>
    <a routerLink="/home" 
       fragment="experience"
       routerLinkActive="active"
       [routerLinkActiveOptions]="linkActiveOptions">
        <i class="fa-solid fa-book"></i>
    </a>
    <a routerLink="/home" 
       fragment="services-offered"
       routerLinkActive="active"
       [routerLinkActiveOptions]="linkActiveOptions">
        <i class="fa-solid fa-robot"></i>
    </a>
    <a routerLink="/home" 
       fragment="contact"
       routerLinkActive="active"
       [routerLinkActiveOptions]="linkActiveOptions">
        <i class="fa-solid fa-address-book"></i>
    </a>
</nav>