.overlay-container {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(transparent 40%, var(--color-bg));
}

.overlay-container:hover {
    backdrop-filter: blur(5px) opacity(1);
    background-image: none;
}

.title {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    transition: var(--transition);
}

.overlay-container:hover > .title {
    bottom: 86%;
    transition: var(--transition);
    transform: translate(0, 100%);
}

.overlay-container > .description, .links {
    opacity: 0;
    transition: visibility 0s, opacity 0s linear;
    transition-delay: 0s;
}

.overlay-container:hover > * {
    transition: var(--transition);
    transition-delay: 400ms;
    opacity: 1;
}

i {
    color: var(--color-light);
}

i:hover {
    color: var(--color-white);
}

.disabled, .disabled:hover {
    color: var(--color-disabled);
}

.links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

small {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// @media (min-width: 1281px) { 
//     .overlay-container > .title {
//         transform: translateY(140px);
//     }
// }

// @media (max-width: 1280px) { 
//     .overlay-container > .title {
//         transform: translateY(110px);
//     }
// }

// @media (min-width: 1024px) and (max-width: 1199px) { 
//     .overlay-container > .title {
//         transform: translateY(130px);
//     }
// }

// @media (min-width: 992px) and (max-width: 1023px) { 
//     .overlay-container > .title {
//         transform: translateY(130px);
//     }
// }

// @media (min-width: 768px) and (max-width: 991px) { 
//     .overlay-container > .title {
//         transform: translateY(150px);
//     }
// }

// @media (min-width: 540px) and (max-width: 767px) { 
//     .overlay-container > .title {
//         transform: translateY(240px);
//     }
// }

// @media (min-width: 412px) and (max-width: 539px) { 
//     .overlay-container > .title {
//         transform: translateY(160px);
//     }
// }

// @media (min-width: 375px) and (max-width: 411px) { 
//     .overlay-container > .title {
//         transform: translateY(135px);
//     }
// }

// @media (max-width: 374px) { 
//     .overlay-container > .title {
//         transform: translateY(75px);
//     }

//     .description {
//         display: none;
//     }
// }