.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-image: linear-gradient(transparent 75%, rgba(0, 0, 0, 0.7));
}

.overlay-container:hover {
    backdrop-filter: blur(5px) opacity(1);
    background-image: none;
}


.overlay-container > .title {
    transform: translateY(140px);
    transition: var(--transition);
}

.overlay-container:hover > .title {
    transform: translateY(0);
    transition: var(--transition);
}


.overlay-container > .description, .links {
    opacity: 0;
    transition: visibility 0s, opacity 0s linear;
    transition-delay: 0s;
}

.overlay-container:hover > * {
    transition: var(--transition);
    transition-delay: 400ms;
    opacity: 1;
}

i {
    color: var(--color-light);
}

i:hover {
    color: var(--color-white);
}

.disabled:hover {
    color: var(--color-light);
}

.description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

small {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    background-color: var(--color-bg);
    color: var(--color-light) !important;
}