<div class='container'>
    <div class='row d-flex justify-content-center mb-5'>
        <div class='custom-card w-lg-50 col-12'>
            <div class='row'>
                <div class='col-12 d-none d-sm-block'>
                    <img class='testimonial-profile-pic' [src]='testimonial.profilePicture' alt=''>
                </div>
            </div>
            
            <div class='row'>
                <div class='col-12'>
                    <h1 class='mb-0'>{{testimonial.name}}</h1>
                </div>
            </div>
            <div class='row mb-2'>
                <div class='col-12'>
                    <small>{{testimonial.relationship}}</small>
                </div>
            </div>
    
            <div class='row'>
                <div class='col-12 testimonial'>
                    <small>&nbsp;{{testimonial.message}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
