.me-socials {
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    flex-direction: column;
    left: 30%;
}

i {
    margin: 0;
    color: var(--color-primary);
}

i:hover {
    margin: 0;
    color: var(--color-white);
}

.me-socials::before {
    content: '';
    width: 1px;
    height: 1rem;
    background: var(--color-primary);
    margin-bottom: 0.4rem;
}

.me-socials::after {
    content: '';
    width: 1px;
    height: 1rem;
    background: var(--color-primary);
}