.container-me {
    margin-top: 1rem;
    text-align: center;
}

.me {
    display: inline-block;
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    left: calc(50% - 11rem);
    border-radius:  12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}