<article class="custom-card custom-card-hover flip-card" (click)="copyContent()">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-1">
                <i class="{{icon}}"></i>
            </div>
            <div class="col-12 mb-4">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 class="mb-0">{{title}}</h5>
                    </div>
                    <div class="flip-card-back">
                        <h5 class="mb-0">{{content}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="" class="link">
                    <small>send me a message</small>
                </a>
            </div>
        </div>
    </div>
</article>