<section id='contact' class='container pt-5'>
    <div class='row mb-2'>
        <div class='col-12'>
            <h2>Contact</h2>
            <h3>Send me a message</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-md-4 mb-2'>
            <div class='row mb-2'  *ngFor='let contact of contacts'>
                <div class='col-12'>
                    <app-contact-card [contact]='contact' [phone]='isPhone(contact.title)'></app-contact-card>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-8'>
            <form [formGroup]="form">
                <div class='col-12 mt-3 mt-md-0'>
                    <input class='p-2' type='text' name='name' formControlName="name" placeholder='Your full name'/>
                </div>
                <div class='col-12'>
                    <input class='p-2' type='email' name='email' formControlName="email" placeholder='Your email'/>
                </div>
                <div class='col-12'>
                    <textarea class='p-2' name='message' formControlName="message" rows='7' placeholder='Your message'></textarea>
                </div>
                <div class='col-12 d-flex justify-content-end'>
                    <app-button class='btn p-0' label='Send message' customButton='primary' (click)='sendMessage()' [disabled]="!form.valid"></app-button>
                </div>
            </form>
        </div>
    </div>
</section>